<div class="relative isolate bg-neutral-700 pt-24 pb-32 sm:pt-32" *ngIf="testimonials_data">
    <div aria-hidden="true"
        class="absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl">
        <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
            class="ml-[max(50%,38rem)] aspect-1313/771 w-328.25 bg-linear-to-tr from-[#ff80b5] to-[#9089fc]"></div>
    </div>
    <div aria-hidden="true"
        class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end">
        <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
            class="-ml-88 aspect-1313/771 w-328.25 flex-none origin-top-right rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] xl:mr-[calc(50%-12rem)] xl:ml-0">
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-base/7 font-semibold text-orange-400">{{ testimonials_data.title }}</h2>
            <p class="mt-2 text-4xl font-semibold tracking-tight text-balance text-white sm:text-5xl">{{
                testimonials_data.subtitle }}</p>
        </div>
        <div
            class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm/6 text-gray-100 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">

            <!-- Featured Testimonial -->
            <figure class="rounded-2xl bg-gray-800/75 ring-1 ring-white/10 sm:col-span-2 xl:col-start-2 xl:row-end-1">
                <blockquote class="p-6 text-lg font-semibold tracking-tight text-white sm:p-12 sm:text-xl/8">
                    <p>{{ testimonials_data.featured.quote }}</p>
                </blockquote>
                <figcaption
                    class="flex flex-wrap items-center gap-x-4 gap-y-4 border-t border-white/10 px-6 py-4 sm:flex-nowrap">
                    <img [src]="testimonials_data.featured.image" alt=""
                        class="size-10 flex-none rounded-full bg-gray-700" />
                    <div class="flex-auto">
                        <div class="font-semibold text-white">{{ testimonials_data.featured.author }}</div>
                        <div class="text-gray-400">{{ testimonials_data.featured.handle }}</div>
                    </div>
                    <img [src]="testimonials_data.featured.logo" alt="" class="h-10 w-auto flex-none" />
                </figcaption>
            </figure>

            <!-- Group 1 -->
            <div class="space-y-8 xl:contents xl:space-y-0">
                <div *ngFor="let column of testimonials_data.group1; let i = index"
                    [ngClass]="i === 0 ? 'space-y-8 xl:row-span-2' : 'space-y-8 xl:row-start-1'">
                    <figure *ngFor="let item of column" class="rounded-2xl bg-gray-800/75 p-6 ring-1 ring-white/10">
                        <blockquote class="text-white">
                            <p>{{ item.quote }}</p>
                        </blockquote>
                        <figcaption class="mt-6 flex items-center gap-x-4">
                            <img [src]="item.image" alt="" class="size-10 rounded-full bg-gray-700" />
                            <div>
                                <div class="font-semibold text-white">{{ item.author }}</div>
                                <div class="text-gray-400">{{ item.handle }}</div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <!-- Group 2 -->
            <div class="space-y-8 xl:contents xl:space-y-0">
                <div *ngFor="let column of testimonials_data.group2; let i = index"
                    [ngClass]="i === 1 ? 'space-y-8 xl:row-span-2' : 'space-y-8 xl:row-start-1'">
                    <figure *ngFor="let item of column" class="rounded-2xl bg-gray-800/75 p-6 ring-1 ring-white/10">
                        <blockquote class="text-white">
                            <p>{{ item.quote }}</p>
                        </blockquote>
                        <figcaption class="mt-6 flex items-center gap-x-4">
                            <img [src]="item.image" alt="" class="size-10 rounded-full bg-gray-700" />
                            <div>
                                <div class="font-semibold text-white">{{ item.author }}</div>
                                <div class="text-gray-400">{{ item.handle }}</div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
</div>