<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto  max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">
        {{mentors_section.title}}</h2>
      <p class="mt-6 text-lg/8 text-gray-600">{{mentors_section.description}}</p>
    </div>
    <ul role="list" class="mx-auto mt-20 flex flex-wrap justify-center gap-x-8 gap-y-12 sm:gap-y-16 text-center">
      @for(item of mentors_section.details; track item) {
      <li class="flex flex-col items-center w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6">
        <a [href]="item.linkedin" target="_blank" rel="noopener noreferrer">
          <img class="w-24 h-24 rounded-full object-cover border rounded-b-full border-gray-200 hover:scale-105 transition" [src]="item.image"
            [alt]="item.name">
        </a>
        <h3 class="mt-6 text-base/7 font-semibold tracking-tight text-gray-900">{{item.name}}</h3>
        <p class="text-sm/6 text-gray-600">{{item.title}}</p>
      </li>
      }
    </ul>

  </div>
</div>