<div class="bg-white" *ngIf="get_started_data">
    <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:justify-between lg:px-8">
        <h2 class="max-w-2xl text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
            {{ get_started_data.titleLine1 }}
            <br />
            {{ get_started_data.titleLine2 }}
        </h2>
        <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:shrink-0">
            <a [href]="get_started_data.primaryCTA.href"
                class="rounded-md bg-orange-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">
                {{ get_started_data.primaryCTA.text }} </a>
            <a [href]="get_started_data.secondaryCTA.href"
                class="text-sm/6 font-semibold text-gray-900 hover:opacity-80">
                {{ get_started_data.secondaryCTA.text }}
                <span aria-hidden="true">→</span>
            </a>
        </div>
    </div>
</div>