<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base/7 font-semibold text-{{color}}-600">{{what_you_think.sub_title}}</h2>
      <p class="mt-2 text-4xl font-semibold tracking-tight text-white sm:text-5xl">{{what_you_think.title}}</p>
      <p class="mt-6 text-lg/8 text-gray-300">{{what_you_think.description}}</p>
    </div>

    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2 lg:max-w-none">
        <!-- What You Think You Need -->
        <div class="flex flex-col items-center text-center">
          <dt class="flex flex-col items-center gap-y-2 text-base font-semibold text-white">
            <svg class="w-6 h-6 text-{{color}}-600" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm1-11H9v4h2V7Zm0 6H9v2h2v-2Z" clip-rule="evenodd" />
            </svg>
            What You Think You Need
          </dt>
          <dd class="mt-4 text-base text-gray-300">
           <ul class="list-inside space-y-2 text-center list-none">
              <li *ngFor="let item of what_you_think.think_you_need">{{ item }}</li>
            </ul>
          </dd>
        </div>

        <!-- What You Actually Need -->
        <div class="flex flex-col items-center text-center">
          <dt class="flex flex-col items-center gap-y-2 text-base font-semibold text-white">
            <svg class="w-6 h-6 text-{{color}}-600" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.707-9.707a1 1 0 0 0-1.414-1.414L9 10.586 7.707 9.293a1 1 0 1 0-1.414 1.414L9 13.414l4.707-4.707Z" clip-rule="evenodd" />
            </svg>
            What You Actually Need
          </dt>
          <dd class="mt-4 text-base text-gray-300">
            <ul class="list-none list-inside space-y-2 text-center">
             <li *ngFor="let item of what_you_think.actually_need">{{ item }}</li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
