<div class="bg-white">
    <app-header [color]="'orange'" ></app-header>
    <app-hero-section [color]="'orange'" [hero_section]="ws.web_development_content.hero_section"></app-hero-section>
    <app-testimonials [testimonials_1]="ws.web_development_content.testimonials_1"></app-testimonials>
    <app-companies [color]="'orange'" [companies]="ws.web_development_content.companies"></app-companies>
    <app-language-cta [color]="'orange'" [language_cta]="ws.web_development_content.language_cta"></app-language-cta>
    <app-advanced-curriculum [color]="'orange'" [advanced_curriculum]="ws.web_development_content.advanced_curriculum"></app-advanced-curriculum>
    <app-download-brouchre-cta [color]="'orange'" [download_brouchre]="ws.web_development_content.download_brouchre"></app-download-brouchre-cta>
    <app-video-testimonials [testimonials_2]="ws.web_development_content.testimonials_2"></app-video-testimonials>
    <app-frequently-asked-questions [faqs]="ws.web_development_content.faqs"></app-frequently-asked-questions>
    <app-technical-benefits [color]="'orange'" [technical_benefits]="ws.web_development_content.technical_benefit"></app-technical-benefits>
    <app-benefits-beyond-learning [color]="'orange'" [benefits_beyond_learning]="ws.web_development_content.beyond_learning"></app-benefits-beyond-learning>
    <app-meet-your-mentors-section [mentors_section]="ws.web_development_content.mentors_section"></app-meet-your-mentors-section>
    <app-footer [color]="'orange'" ></app-footer>
</div> 