
<div class="bg-white">
    <app-header [color]="'orange'"></app-header>
    <app-hero-section [color]="'orange'"[hero_section]="hcds.html_css_designing_content.hero_section"></app-hero-section>
    <app-testimonials [testimonials_1]="hcds.html_css_designing_content.testimonials_1"></app-testimonials>
    <app-companies [color]="'orange'"[companies]="hcds.html_css_designing_content.companies"></app-companies>
    <app-advanced-curriculum [color]="'orange'"[advanced_curriculum]="hcds.html_css_designing_content.advanced_curriculum"></app-advanced-curriculum>
    <app-benefits-beyond-learning [color]="'orange'"[benefits_beyond_learning]="hcds.html_css_designing_content.beyond_learning"></app-benefits-beyond-learning>
    <app-meet-your-mentors-section [mentors_section]="hcds.html_css_designing_content.mentors_section"></app-meet-your-mentors-section>
    <app-what-you-think-you-need-vs-what-you-actually-need [color]="'orange'"[what_you_think]="hcds.html_css_designing_content.what_you_think"></app-what-you-think-you-need-vs-what-you-actually-need>
    <app-frequently-asked-questions [faqs]="hcds.html_css_designing_content.faqs"></app-frequently-asked-questions>
    <app-about-us [color]="'orange'"></app-about-us>
    <app-footer [color]="'orange'"></app-footer>
</div>