<div class="bg-white">
    <!-- Header -->
    <header class="absolute inset-x-0 top-0 z-50">
        <app-header></app-header>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <!-- <div class="lg:hidden" role="dialog" aria-modal="true">
            <div class="fixed inset-0 z-50"></div>
            <div
                class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                <div class="flex items-center justify-between">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Your Company</span>
                        <img class="h-8 w-auto"
                            src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="">
                    </a>
                    <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Close menu</span>
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-gray-500/10">
                        <div class="space-y-2 py-6">
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Product</a>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Features</a>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Resources</a>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Company</a>
                        </div>
                        <div class="py-6">
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log
                                in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </header>

    <main class="isolate">
        <!-- Hero section -->
        <div class="relative isolate -z-10 overflow-hidden bg-linear-to-b from-indigo-100/20 pt-14">
            <div class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl ring-1 shadow-indigo-600/10 ring-indigo-50 sm:-mr-80 lg:-mr-96"
                aria-hidden="true"></div>
            <div class="mx-auto max-w-7xl px-6 py-32 sm:py-40 lg:px-8">
                <div
                    class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-8 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
                    <!-- <h1 class="max-w-2xl text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl lg:col-span-2 xl:col-auto">We’re changing the way people connect</h1> -->
                    <h1
                        class="max-w-2xl text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl lg:col-span-2 xl:col-auto">
                        Empowering People. Enabling Technology.</h1>
                    <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
                        <p class="text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">At The Contrast, we combine innovation with education delivering smart technology solutions to help businesses grow, and offering practical, hands-on training to transform students into job-ready professionals. Our focus is on building scalable systems for companies and future-ready skills for individuals.</p>
                    </div>
                    <img src="https://images.unsplash.com/photo-1748256467077-c75ef01579aa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29sbGFib3JhdGl2ZSUyMHdvcmtzcGFjZXxlbnwwfHwwfHx8MA%3D%3D"
                        alt=""
                        class="mt-10 aspect-6/5 w-full max-w-lg rounded-2xl object-cover sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-36">
                </div>
            </div>
            <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-linear-to-t from-white sm:h-32"></div>
        </div>

        <!-- Timeline section -->
        <div class="mx-auto mb-5 -mt-8 max-w-7xl px-6 lg:px-8">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4">
                <div>
                    <time datetime="2021-08" class="flex items-center text-sm/6 font-semibold text-indigo-600">
                        <svg viewBox="0 0 4 4" class="mr-4 size-1 flex-none" aria-hidden="true">
                            <circle cx="2" cy="2" r="2" fill="currentColor" />
                        </svg>
                        2015
                        <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
                            aria-hidden="true"></div>
                    </time>
                    <p class="mt-6 text-lg/8 font-semibold tracking-tight text-gray-900">Founded The Contrast</p>
                    <p class="mt-1 text-base/7 text-gray-600"> Started as a small developer network focused on freelance
                        product building, educational tools,and automation scripts for local businesses.</p>
                </div>
                <div>
                    <time datetime="2021-12" class="flex items-center text-sm/6 font-semibold text-indigo-600">
                        <svg viewBox="0 0 4 4" class="mr-4 size-1 flex-none" aria-hidden="true">
                            <circle cx="2" cy="2" r="2" fill="currentColor" />
                        </svg>
                        2018
                        <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
                            aria-hidden="true"></div>
                    </time>
                    <p class="mt-6 text-lg/8 font-semibold tracking-tight text-gray-900">Expansion & Training Beginnings
                    </p>
                    <p class="mt-1 text-base/7 text-gray-600">Built our core team and launched internal training
                        programs to bridge the gap between education and employability in software engineering.</p>
                </div>
                <div>
                    <time datetime="2022-02" class="flex items-center text-sm/6 font-semibold text-indigo-600">
                        <svg viewBox="0 0 4 4" class="mr-4 size-1 flex-none" aria-hidden="true">
                            <circle cx="2" cy="2" r="2" fill="currentColor" />
                        </svg>
                        2021
                        <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
                            aria-hidden="true"></div>
                    </time>
                    <p class="mt-6 text-lg/8 font-semibold tracking-tight text-gray-900">Enterprise-Grade Systems &
                        Products</p>
                    <p class="mt-1 text-base/7 text-gray-600">Built scalable apps for govt. exams & private LMS. Ensured
                        100% placement for trained candidates.</p>
                </div>
                <div>
                    <time datetime="2022-12" class="flex items-center text-sm/6 font-semibold text-indigo-600">
                        <svg viewBox="0 0 4 4" class="mr-4 size-1 flex-none" aria-hidden="true">
                            <circle cx="2" cy="2" r="2" fill="currentColor" />
                        </svg>
                        2025
                        <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
                            aria-hidden="true"></div>
                    </time>
                    <p class="mt-6 text-lg/8 font-semibold tracking-tight text-gray-900">Refined Identity. Same Core
                        Values.</p>
                    <p class="mt-1 text-base/7 text-gray-600">With years of delivery, The Contrast Engineering now
                        stands for transparency, performance, and ownership.
                    </p>
                </div>
            </div>
        </div>

        <div class="bg-gray-900 py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <h2 class="text-base/7 font-semibold text-cyan-600 mb-5">Vision</h2>
                <div class="mx-auto lg:mx-0">
                    <h2 class="text-5xl font-semibold tracking-tight text-white sm:text-7xl">Products. People. Purpose.
                    </h2>
                    <p class="mt-8 text-lg text-wrap-style text-ba font-medium text-pretty text-gray-400 sm:text-xl/8">
                        To be the most trusted
                        engineering partner for businesses that <br> demand performance, precision, and long-term value.
                        occaecat fugiat.</p>
                </div>
            </div>
        </div>


        <!-- Content section -->
        <div class="mt-32 overflow-hidden sm:mt-40">
            <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
                <div
                    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:max-w-none lg:min-w-full lg:flex-none lg:gap-y-8">
                    <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
                        <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Our Mission</h2>
                        <p class="mt-6 text-xl/8 text-gray-600">
                            We create systems and careers that are made to last thoughtfully designed, and purposefully
                            built.
                        </p>
                        <p class=" text-xl/8 text-gray-600">
                            We break down the clutter in architecture, in process, and in mindset to help you move
                            forward with confidence.
                        </p>
                        <p class="text-xl/8 text-gray-600">
                            To operate with integrity, transparency, and ownership whether we’re delivering a product or
                            shaping a person.
                        </p>
                        <!-- <p class="mt-6 text-base/7 text-gray-600">
                            We operate with ownership, transparency, and care — in every project, every partnership, and every person we work with.
                        </p> -->
                    </div>
                    <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
                        <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
                            <img src="https://images.unsplash.com/photo-1557426272-fc759fdf7a8d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGVhbSUyMGNvbGxhYm9yYXRpb258ZW58MHx8MHx8fDA%3D"
                                alt="" class="aspect-7/5 w-148 max-w-none rounded-2xl bg-gray-50 object-cover">
                        </div>
                        <div
                            class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-148 lg:items-start lg:justify-end lg:gap-x-8">
                            <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
                                <img src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8VGVhbSUyMERpc2N1c3Npb258ZW58MHx8MHx8fDA%3D"
                                    alt=""
                                    class="aspect-4/3 w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
                            </div>
                            <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
                                <img src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&h=842&q=80"
                                    alt=""
                                    class="aspect-7/5 w-148 max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
                            </div>
                            <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
                                <img src="https://images.unsplash.com/photo-1531973576160-7125cd663d86?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8b2ZmaWNlfGVufDB8fDB8fHww"
                                    alt="" class="aspect-4/3 w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-meet-your-mentors-section [mentors_section]="absup.about_us_section.mentors_section"></app-meet-your-mentors-section>


        <!-- Logo cloud -->
        <div class="mx-auto mt-32 max-w-7xl sm:mt-40 sm:px-6 lg:px-8">
            <div
                class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 text-center shadow-2xl sm:rounded-3xl sm:px-16">
                <h2 class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-white sm:text-4xl"> People and Businesses Trust The Contrast</h2>
                <p class="mx-auto mt-6 max-w-xl text-lg/8 text-gray-300">From individuals building new careers to companies seeking reliable tech partners, The Contrast is trusted for delivering real results. Whether it’s developing skills, solving challenges, or scaling operations we’re committed to driving meaningful growth.</p>
                <div
                    class="mx-auto mt-20 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:max-w-4xl lg:grid-cols-5">
                    <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                        src="https://tailwindcss.com/plus-assets/img/logos/158x48/transistor-logo-white.svg"
                        alt="Transistor" width="158" height="48">
                    <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                        src="https://tailwindcss.com/plus-assets/img/logos/158x48/reform-logo-white.svg" alt="Reform"
                        width="158" height="48">
                    <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                        src="https://tailwindcss.com/plus-assets/img/logos/158x48/tuple-logo-white.svg" alt="Tuple"
                        width="158" height="48">
                    <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
                        src="https://tailwindcss.com/plus-assets/img/logos/158x48/savvycal-logo-white.svg"
                        alt="SavvyCal" width="158" height="48">
                    <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
                        src="https://tailwindcss.com/plus-assets/img/logos/158x48/statamic-logo-white.svg"
                        alt="Statamic" width="158" height="48">
                </div>
                <div class="absolute -top-24 right-0 -z-10 transform-gpu blur-3xl" aria-hidden="true">
                    <div class="aspect-1404/767 w-351 bg-linear-to-r from-[#80caff] to-[#4f46e5] opacity-25"
                        style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)">
                    </div>
                </div>
            </div>
        </div>

        <!-- Stats -->
        <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">
                    We turn education into real world opportunities
                </h2>
                <p class="mt-6 text-base/7 text-gray-600">
                    At The Contrast, we go beyond just teaching. We aim to make career transformation real and impactful
                    through skill-building, mentorship, and practical exposure.
                </p>
            </div>

            <div
                class="mx-auto mt-16 flex max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-20 lg:max-w-none lg:flex-row lg:items-end">
                <div
                    class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-50 p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start">
                    <p class="flex-none text-3xl font-bold tracking-tight text-gray-900">80+</p>
                    <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
                        <p class="text-lg font-semibold tracking-tight text-gray-900">Students trained successfully</p>
                        <p class="mt-2 text-base/7 text-gray-600">
                            Our programs have empowered thousands to launch their tech careers with confidence.
                        </p>
                    </div>
                </div>

                <div
                    class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-900 p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44">
                    <p class="flex-none text-3xl font-bold tracking-tight text-white">10+ companies</p>
                    <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
                        <p class="text-lg font-semibold tracking-tight text-white">
                            Hiring partners trust our training and talent pool.
                        </p>
                        <p class="mt-2 text-base/7 text-gray-400">
                            From startups to MNCs, our students work across top-tier organizations.
                        </p>
                    </div>
                </div>

                <div
                    class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-indigo-600 p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28">
                    <p class="flex-none text-3xl font-bold tracking-tight text-white">3,20,000+</p>
                    <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
                        <p class="text-lg font-semibold tracking-tight text-white">Live project hours delivered</p>
                        <p class="mt-2 text-base/7 text-indigo-200">
                            Students gain hands-on experience through real projects guided by industry mentors.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content section -->
        <div class="mx-auto mt-32 mb-10 max-w-7xl px-6 sm:mt-40 lg:px-8">
            <div
                class="mx-auto flex max-w-2xl flex-col items-end justify-between gap-16 lg:mx-0 lg:max-w-none lg:flex-row">
                <div class="w-full lg:max-w-lg lg:flex-auto">
                    <h2 class="text-3xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-4xl">
                        One Hub for Skills & Solutions.
                    </h2>
                    <p class="mt-6 text-xl/8 text-gray-600">
                       At The Contrast, we go beyond traditional training. We're a complete ecosystem where learning meets real-world application. Whether you're a student looking to upskill or a startup seeking reliable tech solutions, we provide the right mix of education, execution, and expert support all under one roof..
                    </p>
                    <img src="https://plus.unsplash.com/premium_photo-1682141009894-957650ccc3d5?q=80&w=1032&auto=format&fit=contain&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt=""
                        class=" mt-16 aspect-6/5 w-full rounded-2xl bg-gray-50 object-cover lg:aspect-auto lg:h-138">
                </div>

                <div class="w-full lg:max-w-xl lg:flex-auto">
                    <h3 class="sr-only">What We Do</h3>
                    <ul class="-my-8 divide-y divide-gray-100">

                        <!-- Services -->
                        <li class="py-8">
                            <dl class="relative flex flex-wrap gap-x-3">
                                <dt class="sr-only">Services</dt>
                                <dd class="w-full flex-none text-lg font-semibold tracking-tight text-gray-900">
                                    <a href="#">Tech Services<span class="absolute inset-0"
                                            aria-hidden="true"></span></a>
                                </dd>
                                <dd class="mt-2 w-full flex-none text-base/7 text-gray-600">
                                    From web and app development to UI/UX and branding — we deliver solutions for
                                    startups and enterprises.
                                </dd>
                                <dd class="mt-4 text-base/7 font-semibold text-gray-900">Professional Project Delivery
                                </dd>
                                <dd class="mt-4 flex items-center gap-x-3 text-base/7 text-gray-500">
                                    <svg viewBox="0 0 2 2" class="size-0.5 flex-none fill-gray-300" aria-hidden="true">
                                        <circle cx="1" cy="1" r="1" />
                                    </svg>
                                    Remote / On-site
                                </dd>
                            </dl>
                        </li>

                        <!-- Consultancy -->
                        <li class="py-8">
                            <dl class="relative flex flex-wrap gap-x-3">
                                <dt class="sr-only">Consultancy</dt>
                                <dd class="w-full flex-none text-lg font-semibold tracking-tight text-gray-900">
                                    <a href="#">Hire Our Skilled Developers<span class="absolute inset-0"
                                            aria-hidden="true"></span></a>
                                </dd>
                                <dd class="mt-2 w-full flex-none text-base/7 text-gray-600">
                                    We offer our trained and experienced developers to companies and startups for project-based or contract-based requirements.
                                </dd>
                                <dd class="mt-4 text-base/7 font-semibold text-gray-900">Flexible Development Support — On Demand</dd>
                                <dd class="mt-4 flex items-center gap-x-3 text-base/7 text-gray-500">
                                    <svg viewBox="0 0 2 2" class="size-0.5 flex-none fill-gray-300" aria-hidden="true">
                                        <circle cx="1" cy="1" r="1" />
                                    </svg>
                                    Online / Navi Mumbai Office / Remote
                                </dd>
                            </dl>
                        </li>

                         <!-- Training -->
                        <li class="py-8">
                            <dl class="relative flex flex-wrap gap-x-3">
                                <dt class="sr-only">Training</dt>
                                <dd class="w-full flex-none text-lg font-semibold tracking-tight text-gray-900">
                                    <a href="#">Skill-based Training<span class="absolute inset-0"
                                            aria-hidden="true"></span></a>
                                </dd>
                                <dd class="mt-2 w-full flex-none text-base/7 text-gray-600">
                                    Hands-on, project-based training with internships and live client exposure to build
                                    real skills.
                                </dd>
                                <dd class="mt-4 text-base/7 font-semibold text-gray-900">Industry-Relevant Courses</dd>
                                <dd class="mt-4 flex items-center gap-x-3 text-base/7 text-gray-500">
                                    <svg viewBox="0 0 2 2" class="size-0.5 flex-none fill-gray-300" aria-hidden="true">
                                        <circle cx="1" cy="1" r="1" />
                                    </svg>
                                    Classroom / Online
                                </dd>
                            </dl>
                        </li>

                    </ul>

                    <div class="mt-8 flex border-t border-gray-100 pt-8">
                        <a href="#" class="text-sm/6 font-semibold text-cyan-600 hover:text-indigo-500">
                            Learn more about us <span aria-hidden="true">&rarr;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Footer -->
    <app-footer color="cyan"></app-footer>
</div>