<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">{{ benefits_stack.title }}</h2>
      <p class="mt-6 text-lg/8 text-gray-600">{{ benefits_stack.body }}</p>
    </div>
    <div class="mx-auto mt-16  max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <h1 class="text-3xl  font-semibold text-{{color}}-600 mb-4">{{ benefits_stack.sub_title }}</h1>
      <dl class="grid mt-8 max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div *ngFor="let item of benefits_stack.details" class="flex flex-col">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="mb-6 flex size-10 items-center justify-center rounded-lg bg-{{color}}-600">
              <span class="size-6 text-white" [innerHTML]="sanitize(item.icon)"></span>
            </div>
            {{ item.title }}
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base/7 text-gray-600">
            <p class="flex-auto">{{ item.description }}</p>
            <p *ngIf="item.link" class="mt-6">
              <a [href]="item.link" class="text-sm/6 font-semibold text-{{color}}-600 hover:text-{{color}}-500">Learn more <span aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>