<section class="bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div *ngFor="let item of testimonials_1"
                class="flex flex-col pb-10 sm:pb-16 lg:pr-8 lg:pb-0 xl:pr-20">
                <img *ngIf="item.company_logo" class="h-12 self-start" [src]="item.company_logo"
                    alt="">
                <figure class="mt-10 flex flex-auto flex-col justify-between">
                    <blockquote class="text-lg/8 text-white">
                        <p>“{{ item.description }}”</p>
                    </blockquote>
                    <figcaption class="mt-10 flex items-center gap-x-6">
                        <img class="size-14 rounded-full bg-gray-800" [src]="item.image" alt="">
                        <div class="text-base">
                            <div class="font-semibold text-white">{{ item.name }},</div>
                            <div class="mt-1 text-gray-400">{{ item.designation }}, {{ item.company }}</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>