<div class="bg-white">
    <app-hero-section-tailwind [hero_data]="aks.page_content.hero_section_tailwind"></app-hero-section-tailwind>
    <app-overview [overview_data]="aks.page_content.overview"></app-overview>
    <app-professional-background
        [professional_background_data]="aks.page_content.professional_background"></app-professional-background>
    <app-life-dock [life_dock_data]="aks.page_content.life_dock"></app-life-dock>
    <app-feature [feature_data]="aks.page_content.feature_data"></app-feature>
    <app-philosophy [philosophy_data]="aks.page_content.philosophy"></app-philosophy>
    <app-the-3-20 [the_3_20_data]="aks.page_content.the_3_20"></app-the-3-20>
    <app-new-footer [footer_data]="nfs.footer_content"></app-new-footer>
</div>