<div class="bg-white">
    <app-header [color]="'orange'" ></app-header>
    <app-hero-section [color]="'orange'" [hero_section]="ms.mobile_development_content.hero_section"></app-hero-section>
    <app-testimonials [testimonials_1]="ms.mobile_development_content.testimonials_1"></app-testimonials>
    <app-companies [color]="'orange'" [companies]="ms.mobile_development_content.companies"></app-companies>
    <app-language-cta [color]="'orange'" [language_cta]="ms.mobile_development_content.language_cta"></app-language-cta>
    <app-advanced-curriculum [color]="'orange'" [advanced_curriculum]="ms.mobile_development_content.advanced_curriculum"></app-advanced-curriculum>
    <app-video-testimonials [testimonials_2]="ms.mobile_development_content.testimonials_2"></app-video-testimonials>
    <app-download-brouchre-cta [color]="'orange'" [download_brouchre]="ms.mobile_development_content.download_brouchre"></app-download-brouchre-cta>
    <app-frequently-asked-questions [faqs]="ms.mobile_development_content.faqs"></app-frequently-asked-questions>
    <app-benefits-beyond-learning [color]="'orange'" [benefits_beyond_learning]="ms.mobile_development_content.beyond_learning"></app-benefits-beyond-learning>
    <app-technical-benefits [color]="'orange'" [technical_benefits]="ms.mobile_development_content.technical_benefit"></app-technical-benefits>
    <app-have-more-questions [color]="'orange'" [have_more_questions]="ms.mobile_development_content.have_more_questions"></app-have-more-questions>
    <app-meet-your-mentors-section [mentors_section]="ms.mobile_development_content.mentors_section"></app-meet-your-mentors-section>
    <app-what-you-think-you-need-vs-what-you-actually-need [color]="'orange'" [what_you_think]="ms.mobile_development_content.what_you_think"></app-what-you-think-you-need-vs-what-you-actually-need> 
    <app-footer [color]="'orange'"></app-footer>
</div>