<div class="bg-white py-24 sm:py-32 border-1 border-gray-900" *ngIf="the_3_20_data">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">
                {{ the_3_20_data.headline }}</h2>
            <p class="mt-6 text-lg/8 text-gray-700">{{ the_3_20_data.description }}</p>
        </div>
        <dl
            class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base/7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            <div *ngFor="let feature of the_3_20_data.features">
                <dt class="font-semibold text-gray-900">{{ feature.title }}</dt>
                <dd class="mt-1 text-gray-600">{{ feature.description }}</dd>
            </div>
        </dl>
    </div>
</div>