<div class="bg-white mt-6 py-6 ">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <!-- Header -->
    <div class="mx-auto max-w-2xl text-center">
      <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">
        {{ technical_benefits.title }}
      </p>
      <p class="mt-6 text-lg/8 text-gray-600">{{ technical_benefits.description }}</p>
    </div>
    <!-- Cards -->
    <div class="mx-auto mt-16 max-w-2xl  lg:max-w-none">
      <dl class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div *ngFor="let item of technical_benefits.details" class="border-l-4 border-{{color}}-600 pl-6">
          <dt class="text-2xl font-bold text-gray-900">{{ item.title }}</dt>
          <dd class="mt-3 text-base/7 text-gray-600">{{ item.description }}</dd>
        </div>
      </dl>
    </div>
  </div>
</div>