<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base/7 font-semibold text-{{color}}-600">{{technical_benefits.sub_title}}</h2>
      <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">
        {{technical_benefits.title}}</p>
      <p class="mt-6 text-lg/8 text-gray-600">{{technical_benefits.description}}</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div *ngFor="let item of technical_benefits.details" class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
            <span [innerHTML]="item.icon"></span>
            {{ item.title}}
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
            <p class="flex-auto">{{ item.description }}</p>
            <p class="mt-6">
              <a [href]="item.link" class="text-sm/6 font-semibold text-{{color}}-600">
                Learn more <span aria-hidden="true">→</span>
              </a>
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>