<div class="bg-white">
    <app-header [color]="'orange'"></app-header>
    <app-hero-section [color]="'orange'" [hero_section]="nads.native_app_development_content.hero_section"></app-hero-section>
    <app-testimonials [testimonials_1]="nads.native_app_development_content.testimonials_1"></app-testimonials>
    <app-companies [color]="'orange'"[companies]="nads.native_app_development_content.companies"></app-companies>
    <app-language-cta [color]="'orange'"[language_cta]="nads.native_app_development_content.language_cta"></app-language-cta>
    <app-advanced-curriculum [color]="'orange'"[advanced_curriculum]="nads.native_app_development_content.advanced_curriculum"></app-advanced-curriculum>
    <app-download-brouchre-cta [color]="'orange'"[download_brouchre]="nads.native_app_development_content.download_brouchre"></app-download-brouchre-cta>
    <app-video-testimonials [testimonials_2]="nads.native_app_development_content.testimonials_2"></app-video-testimonials>
    <app-benefits-beyond-learning [color]="'orange'"[benefits_beyond_learning]="nads.native_app_development_content.beyond_learning"></app-benefits-beyond-learning>
    <app-technical-benefits [color]="'orange'"[technical_benefits]="nads.native_app_development_content.technical_benefit"></app-technical-benefits>
    <app-have-more-questions [color]="'orange'"[have_more_questions]="nads.native_app_development_content.have_more_questions"></app-have-more-questions>
    <app-meet-your-mentors-section [mentors_section]="nads.native_app_development_content.mentors_section"></app-meet-your-mentors-section>
    <app-what-you-think-you-need-vs-what-you-actually-need [color]="'orange'"[what_you_think]="nads.native_app_development_content.what_you_think"></app-what-you-think-you-need-vs-what-you-actually-need>
    <app-frequently-asked-questions [faqs]="nads.native_app_development_content.faqs"></app-frequently-asked-questions>
    <app-footer [color]="'orange'"></app-footer>
</div>