<div class="bg-white">
<app-header [color]="'orange'"></app-header>
<app-hero-section [color]="'orange'" [hero_section]="slp.service_landing_page_content.hero_section"></app-hero-section>
<app-course-list [color]="'orange'" [courses]="slp.service_landing_page_content.courses"></app-course-list>
<app-technical-benefits [color]="'orange'"[technical_benefits]="slp.service_landing_page_content.technical_benefit"></app-technical-benefits>
<app-advanced-curriculum [color]="'orange'"[advanced_curriculum]="slp.service_landing_page_content.advanced_curriculum"></app-advanced-curriculum>
<app-benefits-beyond-learning [color]="'orange'"[benefits_beyond_learning]="slp.service_landing_page_content.beyond_learning"></app-benefits-beyond-learning>
<app-meet-your-mentors-section [mentors_section]="slp.service_landing_page_content.mentors_section"></app-meet-your-mentors-section>
<app-testimonials [testimonials_1]="slp.service_landing_page_content.testimonials_1"></app-testimonials>
<app-companies [color]="'orange'" [companies]="slp.service_landing_page_content.companies"></app-companies>
<app-download-brouchre-cta [color]="'orange'"[download_brouchre]="slp.service_landing_page_content.download_brochure"></app-download-brouchre-cta>
<app-frequently-asked-questions [faqs]="slp.service_landing_page_content.faqs"></app-frequently-asked-questions>
<app-footer [color]="'orange'"></app-footer>
</div>

<!-- <div class="overflow-hidden bg-white py-32">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
        <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:max-w-none lg:min-w-full lg:flex-none lg:gap-y-8">

            <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
                <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                    Power Your Business with Expert Tech Services
                </h2>
                <p class="mt-6 text-xl/8 text-gray-700">
                    From modern websites to scalable mobile apps, we deliver full-cycle development services tailored to
                    your needs.
                </p>
                <p class="mt-6 text-base/7 text-gray-600">
                    Whether you need web & mobile development, project or product management, or expert UI/UX design —
                    our skilled teams ensure real business outcomes with strategic execution and quality delivery.
                </p>
                <div class="mt-10 flex flex-col sm:flex-row gap-4">
                    <a href="#" routerLink="/pages/contact-page"
                        class="rounded-md bg-orange-600 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Get a Proposal
                    </a>
                    <a href="#" routerLink="/pages/contact-page"
                        class="rounded-md bg-gray-900 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
                        Talk to Our Team
                    </a>
                </div>
            </div>

            <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
                <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
                    <img src="https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?q=80&w=874&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Development Team Discussion"
                        class="aspect-7/5 w-148 max-w-none rounded-2xl bg-gray-50 object-cover" />
                </div>
                <div
                    class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-148 lg:items-start lg:justify-end lg:gap-x-8">
                    <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
                        <img src="https://images.unsplash.com/photo-1552581234-26160f608093?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Mobile App Development"
                            class="aspect-4/3 w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover" />
                    </div>
                    <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
                        <img src="https://images.unsplash.com/photo-1505373877841-8d25f7d46678?q=80&w=812&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Project Collaboration"
                            class="aspect-7/5 w-148 max-w-none flex-none rounded-2xl bg-gray-50 object-cover" />
                    </div>
                    <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
                        <img src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?q=80&w=820&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="UI/UX Design Discussion"
                            class="aspect-4/3 w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->