<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center">
        <div class="flex justify-center items-center">
          <img src="{{ movement_cta.img }}" class="h-24 w-24" alt="">
        </div>
        <h2 class="text-4xl font-bold tracking-tight text-balance text-gray-900 sm:text-5xl">{{ movement_cta.title }}</h2>
        <div class="mt-6">
          <p *ngFor="let line of movement_cta.description" class="text-lg/6 text-black">{{ line }}</p>
        </div>
      </div>
    </div>
  </div>
</div>