<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="mx-auto max-w-4xl">
      <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{faqs.title || 'Frequently asked questions'}}</h2>
      <dl class="mt-16 divide-y divide-gray-900/10">
        <div *ngFor="let item of faqs.details; let i = index" class="py-6 first:pt-0 last:pb-0">
          <dt>
            <!-- Expand/collapse question button -->
            <button type="button" class="flex w-full items-start justify-between text-left text-gray-900"
              (click)="toggleFAQ(i)" [attr.aria-expanded]="item.expanded" [attr.aria-controls]="'faq-' + i">
              <span class="text-base/7 font-semibold">{{ item.question }}</span>
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg *ngIf="!item.expanded" class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" aria-hidden="true" data-slot="icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg *ngIf="item.expanded" class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" aria-hidden="true" data-slot="icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd *ngIf="item.expanded" class="mt-2 pr-12" id="faq-0">
            <p class="text-base/7 text-gray-600">{{ item.answer }}</p>
          </dd>
        </div>

        <!-- More questions... -->
      </dl>
    </div>
  </div>
</div>