<header class="bg-white shadow-sm">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8">

    <!-- Logo -->
    <div class="flex items-center">
      <a routerLink="/" class="flex items-center gap-2">
        <img class="h-10 w-auto rounded-xl" src="assets/three_twenty_way_logo.png" alt="3-20 Way">
      </a>
    </div>

    <!-- Contact Button -->
    <div>
      <a routerLink="/pages/contact-page" class="text-sm font-semibold text-gray-900 tracking-wide hover:text-orange-600 transition">
        Contact Us →
      </a>
    </div>

  </nav>
</header>