<section class="relative isolate overflow-hidden bg-orange-400 px-6 py-24 sm:py-32 lg:px-8" *ngIf="movements_data">
    <div
        class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,var(--color-orange-400),transparent)] opacity-20">
    </div>
    <div
        class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-orange-400 shadow-xl ring-1 shadow-orange-900/20 ring-orange-400 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center">
    </div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <img [src]="movements_data.logo" alt="" class="mx-auto h-12" />
        <figure class="mt-10">
            <blockquote class="text-center text-xl/8 font-semibold text-white sm:text-2xl/9">
                <p>{{ movements_data.quote }}</p>
            </blockquote>
            <figcaption class="mt-10">
                <img [src]="movements_data.author.image" alt="" class="mx-auto size-10 rounded-full" />
                <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                    <div class="font-semibold text-white">{{ movements_data.author.name }}</div>
                    <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-white">
                        <circle r="1" cx="1" cy="1" />
                    </svg>
                    <div class="text-neutral-300">{{ movements_data.author.role }}</div>
                </div>
            </figcaption>
        </figure>
    </div>
</section>