<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-base/7 font-semibold text-{{color}}-400">Pricing Plans</h2>
      <p class="mt-2 text-5xl font-semibold tracking-tight text-balance text-white sm:text-6xl">Plans that scale with your learning journey</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-center text-lg font-medium text-pretty text-gray-400 sm:text-xl/8"> Choose a cost-effective training plan packed with real-world projects, expert mentorship, and career readiness tools to elevate your skills.</p>
    <div class="mt-16 flex justify-center">
      <fieldset aria-label="Payment frequency">
        <div
          class="grid grid-cols-2 gap-x-1 rounded-full bg-white/5 p-1 text-center text-xs/5 font-semibold text-white">
          <!-- Checked: "bg-{{color}}-500" -->
          <label class="cursor-pointer rounded-full px-2.5 py-1">
            <input type="radio" name="frequency" value="monthly" class="sr-only">
            <span>Monthly</span>
          </label>
          <!-- Checked: "bg-{{color}}-500" -->
          <label class="cursor-pointer rounded-full px-2.5 py-1">
            <input type="radio" name="frequency" value="annually" class="sr-only">
            <span>Annually</span>
          </label>
        </div>
      </fieldset>
    </div>
    <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div class="rounded-3xl p-8 ring-1 ring-white/10 xl:p-10">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-freelancer" class="text-lg/8 font-semibold text-white">5 Installments</h3>
        </div>
        <p class="mt-4 text-sm/6 text-gray-300">Pay comfortably every month with full course benefits and placement support.</p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <!-- Price, update based on frequency toggle state -->
          <span class="text-4xl font-semibold tracking-tight text-white">₹ 1,49,999</span>
          <!-- Payment frequency, update based on frequency toggle state -->
          <!-- <span class="text-sm/6 font-semibold text-gray-300">/month</span> -->
        </p>
        <a href="#" aria-describedby="tier-freelancer"
          class="mt-6 block rounded-md bg-white/10 px-3 py-2 text-center text-sm/6 font-semibold text-white hover:bg-white/20 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Buy
          plan</a>
        <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-300 xl:mt-10">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Duration: 5 Months
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Regular Assignments / Regular Tests
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Access to Doubt Solving / Mock Interviews
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            48-hour support response time
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Placement Assistance
          </li>
        </ul>
      </div>
      <div class="rounded-3xl bg-white/5 p-8 ring-2 ring-{{color}}-500 xl:p-10">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-startup" class="text-lg/8 font-semibold text-white">2 Installments</h3>
          <p class="rounded-full bg-{{color}}-500 px-2.5 py-1 text-xs/5 font-semibold text-white">Most popular</p>
        </div>
        <p class="mt-4 text-sm/6 text-gray-300">Split your fees into two parts while enjoying full curriculum access.</p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <!-- Price, update based on frequency toggle state -->
          <span class="text-4xl font-semibold tracking-tight text-white">₹ 1,29,000</span>
          <!-- Payment frequency, update based on frequency toggle state -->
          <!-- <span class="text-sm/6 font-semibold text-gray-300">/month</span> -->
        </p>
        <a href="#" aria-describedby="tier-startup"
          class="mt-6 block rounded-md bg-{{color}}-500 px-3 py-2 text-center text-sm/6 font-semibold text-white shadow-xs hover:bg-{{color}}-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-{{color}}-500">Buy
          plan</a>
        <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-300 xl:mt-10">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Duration: 5 Months
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Regular Assignments / Regular Tests
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Access to Doubt Solving / Mock Interviews
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            24-hour support response time
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Placement Assistance
          </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 ring-1 ring-white/10 xl:p-10">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-enterprise" class="text-lg/8 font-semibold text-white">1 Installment</h3>
        </div>
        <p class="mt-4 text-sm/6 text-gray-300">One-time payment with complete access to all features and priority support.</p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <!-- Price, update based on frequency toggle state -->
          <span class="text-4xl font-semibold tracking-tight text-white">₹ 1,20,000</span>
          <!-- Payment frequency, update based on frequency toggle state -->
          <!-- <span class="text-sm/6 font-semibold text-gray-300">/month</span> -->
        </p>
        <a href="#" aria-describedby="tier-enterprise"
          class="mt-6 block rounded-md bg-white/10 px-3 py-2 text-center text-sm/6 font-semibold text-white hover:bg-white/20 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Buy
          plan</a>
        <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-300 xl:mt-10">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Duration: 5 Months
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Regular Assignments / Regular Tests
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Access to Doubt Solving / Mock Interviews
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
           24-hour support response time
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Placement Assistance
          </li>
          <!-- <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              data-slot="icon">
              <path fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                clip-rule="evenodd" />
            </svg>
            Custom reporting tools
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>