<div class="bg-white">
    <app-header [color]="'teal'"></app-header>
    <app-hero-section [color]="'teal'" [hero_section]="fs.full_stack_page_content.hero_section"></app-hero-section>
    <app-testimonials [testimonials_1]="fs.full_stack_page_content.testimonials_1"></app-testimonials>
    <app-course-curriculum [color]="'teal'" [course_curriculum_List]="fs.full_stack_page_content.course_curriculum_List"></app-course-curriculum>
    <app-language-cta [color]="'teal'" [language_cta]="fs.full_stack_page_content.language_cta"></app-language-cta>
    <app-companies [color]="'teal'" [companies]="fs.full_stack_page_content.companies"></app-companies>
    <app-pricing-section [color]="'teal'"></app-pricing-section>
    <!-- <app-pricing></app-pricing> -->
    <app-advanced-curriculum [color]="'teal'" [advanced_curriculum]="fs.full_stack_page_content.advanced_curriculum"></app-advanced-curriculum>
    <app-download-brouchre-cta [color]="'teal'" [download_brouchre]="fs.full_stack_page_content.download_brochure"></app-download-brouchre-cta>
    <app-video-testimonials [testimonials_2]="fs.full_stack_page_content.testimonials_2"></app-video-testimonials>
    <app-technical-benefits [color]="'teal'" [technical_benefits]="fs.full_stack_page_content.technical_benefit"></app-technical-benefits>
    <app-benefits-beyond-learning [color]="'teal'" [benefits_beyond_learning]="fs.full_stack_page_content.beyond_learning"></app-benefits-beyond-learning>
    <app-frequently-asked-questions [faqs]="fs.full_stack_page_content.faqs"></app-frequently-asked-questions>
    <app-have-more-questions [color]="'teal'" [have_more_questions]="fs.full_stack_page_content.have_more_questions"></app-have-more-questions>
    <app-meet-your-mentors-section [mentors_section]="fs.full_stack_page_content.mentors_section"></app-meet-your-mentors-section>
    <app-what-you-think-you-need-vs-what-you-actually-need [color]="'teal'" [what_you_think]="fs.full_stack_page_content.what_you_think"></app-what-you-think-you-need-vs-what-you-actually-need>
    <app-who-are-our-learners [color]="'teal'" [learners_section]="fs.full_stack_page_content.learners_section"></app-who-are-our-learners>
    <app-about-us [color]="'teal'"></app-about-us>
    <app-footer [color]="'teal'"></app-footer>
</div>