<div class="bg-white">
<app-header [color]="'teal'"></app-header>
<app-hero-section [color]="'teal'" [hero_section]="tlsp.tranining_landing_page_content.hero_section"></app-hero-section>
<app-course-list [color]="'teal'" [courses]="tlsp.tranining_landing_page_content.courses"></app-course-list>
<app-technical-benefits [color]="'teal'" [technical_benefits]="tlsp.tranining_landing_page_content.technical_benefit"></app-technical-benefits>
<app-advanced-curriculum [color]="'teal'" [advanced_curriculum]="tlsp.tranining_landing_page_content.advanced_curriculum"></app-advanced-curriculum>
<app-benefits-beyond-learning [color]="'teal'" [benefits_beyond_learning]="tlsp.tranining_landing_page_content.beyond_learning"></app-benefits-beyond-learning>
<app-meet-your-mentors-section [mentors_section]="tlsp.tranining_landing_page_content.mentors_section"></app-meet-your-mentors-section>
<app-testimonials [testimonials_1]="tlsp.tranining_landing_page_content.testimonials_1"></app-testimonials>
<app-companies [color]="'teal'" [companies]="tlsp.tranining_landing_page_content.companies"></app-companies>
<app-download-brouchre-cta [color]="'teal'" [download_brouchre]="tlsp.tranining_landing_page_content.download_brochure"></app-download-brouchre-cta>
<app-frequently-asked-questions [faqs]="tlsp.tranining_landing_page_content.faqs"></app-frequently-asked-questions>
<app-footer [color]="'teal'"></app-footer>
</div>

<!-- <div class="overflow-hidden bg-white py-32">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
        <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:max-w-none lg:min-w-full lg:flex-none lg:gap-y-8">

            <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
                <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                    Master the Skills. Build Your Future.
                </h2>
                <p class="mt-6 text-xl/8 text-gray-700">
                    Hands-on training in Full Stack Development, UI/UX, Software Testing, and more.
                </p>
                <p class="mt-6 text-base/7 text-gray-600">
                    Gain practical experience with real-world projects, expert mentorship, and placement support.
                    Empower your tech career by learning what truly matters in the industry.
                </p>
                <div class="mt-10 flex flex-col sm:flex-row gap-4">
                    <a href="#" routerLink="/pages/contact-page"
                        class="rounded-md bg-teal-600 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Download Brochure
                    </a>
                    <a href="#" routerLink="/pages/contact-page"
                        class="rounded-md bg-gray-900 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
                        Talk to Expert
                    </a>
                </div>
            </div>

            <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
                <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
                    <img src="https://images.unsplash.com/photo-1540575467063-178a50c2df87?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Training Students"
                        class="aspect-7/5 w-148 max-w-none rounded-2xl bg-gray-50 object-cover" />
                </div>
                <div
                    class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-148 lg:items-start lg:justify-end lg:gap-x-8">
                    <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
                        <img src="https://images.unsplash.com/photo-1556761175-4b46a572b786?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Coding Students"
                            class="aspect-4/3 w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover" />
                    </div>
                    <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
                        <img src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?auto=format&fit=crop&w=1152&h=842&q=80"
                            alt="Team Collaboration"
                            class="aspect-7/5 w-148 max-w-none flex-none rounded-2xl bg-gray-50 object-cover" />
                    </div>
                    <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
                        <img src="https://images.unsplash.com/photo-1498758536662-35b82cd15e29?q=80&w=388&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Learning Environment"
                            class="aspect-4/3 w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->