<div class="bg-orange-400" *ngIf="movements_2_data">
    <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:justify-between lg:px-8">
        <h2 class="max-w-2xl text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
            {{ movements_2_data.headline.line1 }}
            <br />
            {{ movements_2_data.headline.line2 }}
        </h2>
        <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:shrink-0">
            <a [href]="movements_2_data.primaryCTA.href"
                class="rounded-md bg-neutral-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-neutral-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">
                {{ movements_2_data.primaryCTA.text }} </a>
            <a [href]="movements_2_data.secondaryCTA.href"
                class="text-sm/6 font-semibold text-gray-900 hover:opacity-80">
                {{ movements_2_data.secondaryCTA.text }}
                <span aria-hidden="true">→</span>
            </a>
        </div>
    </div>
</div>