<div class="bg-white">
    <app-header color="cyan"></app-header>
    <app-hero-section color="cyan" [hero_section]="ls.landing_page_content.hero_section"></app-hero-section>
    <app-benefits-stack color="cyan" [benefits_stack]="ls.landing_page_content.benefits_stack"></app-benefits-stack>
    <app-advanced-curriculum color="cyan" [advanced_curriculum]="ls.landing_page_content.explainer"></app-advanced-curriculum>
    <app-technical-benefits color="cyan" [technical_benefits]="ls.landing_page_content.outcomes"></app-technical-benefits>
    <!-- <app-testimonials [testimonials_1]="ls.landing_page_content.testimonials"></app-testimonials>
    <app-language-cta color="cyan" [language_cta]="ls.landing_page_content.language_cta"></app-language-cta>
    <app-companies color="cyan" [companies]="ls.landing_page_content.companies"></app-companies>
    <app-download-brouchre-cta color="cyan" [download_brouchre]="ls.landing_page_content.download_brouchre"></app-download-brouchre-cta>
    <app-frequently-asked-questions [faqs]="ls.landing_page_content.faqs"></app-frequently-asked-questions>
    <app-have-more-questions color="cyan" [have_more_questions]="ls.landing_page_content.career_section"></app-have-more-questions>
    <app-technical-benefits color="cyan" [technical_benefits]="ls.landing_page_content.technical_benefit"></app-technical-benefits> -->
    <!-- <app-about-us color="cyan"></app-about-us> -->
    <app-footer color="cyan"></app-footer>
</div>