<div class="bg-white">
  <app-hero-section-tailwind [hero_data]="ls.landing_page_content.hero_section_tailwind"></app-hero-section-tailwind>
  <app-daily-wins [daily_wins]="ls.landing_page_content.daily_wins"></app-daily-wins>
  <app-available [available_data]="ls.landing_page_content.available_data"></app-available>
  <app-movements [movements_data]="ls.landing_page_content.movements_data"></app-movements>
  <app-new-faq [faq_data]="ls.landing_page_content.faq_data"></app-new-faq>
  <app-new-footer [footer_data]="nfs.footer_content"></app-new-footer>
  <!-- <app-movement-cta [movement_cta]="ls.landing_page_content.movement_cta"></app-movement-cta>
  <app-new-pricing [pricing_data]="ls.landing_page_content.pricing"></app-new-pricing> -->
</div>