<div class="bg-white">
    <app-header color="orange"></app-header>
    <app-hero-section color="orange" [hero_section]="ls.landing_page_content.hero_section"></app-hero-section>
    <app-benefits-stack color="orange" [benefits_stack]="ls.landing_page_content.benefits_stack"></app-benefits-stack>
    <app-advanced-curriculum color="orange" [advanced_curriculum]="ls.landing_page_content.explainer"></app-advanced-curriculum>
    <app-technical-benefits color="orange" [technical_benefits]="ls.landing_page_content.outcomes"></app-technical-benefits>
    <app-woman-behind-320way color="orange" [woman_behind]="ls.landing_page_content.woman_behind"></app-woman-behind-320way>
    <app-getting-started color="orange" [getting_started]="ls.landing_page_content.getting_started"></app-getting-started>
    <app-testimonials color="orange" [member_testimonials]="ls.landing_page_content.member_testimonials"></app-testimonials>
    <app-faq-section color="orange" [faq_section]="ls.landing_page_content.faq_section"></app-faq-section>
    <!-- <app-testimonials [testimonials_1]="ls.landing_page_content.testimonials"></app-testimonials>
    <app-language-cta color="orange" [language_cta]="ls.landing_page_content.language_cta"></app-language-cta>
    <app-companies color="orange" [companies]="ls.landing_page_content.companies"></app-companies>
    <app-download-brouchre-cta color="orange" [download_brouchre]="ls.landing_page_content.download_brouchre"></app-download-brouchre-cta>
    <app-frequently-asked-questions [faqs]="ls.landing_page_content.faqs"></app-frequently-asked-questions>
    <app-have-more-questions color="orange" [have_more_questions]="ls.landing_page_content.career_section"></app-have-more-questions>
    <app-technical-benefits color="orange" [technical_benefits]="ls.landing_page_content.technical_benefit"></app-technical-benefits> -->
    <!-- <app-about-us color="orange"></app-about-us> -->
    <app-footer color="orange"></app-footer>
</div>