<div class="bg-white">
    <app-header [color]="'indigo'"></app-header>
    <app-hero-section [color]="'indigo'" [hero_section]="fsds.full_stack_developer_content.hero_section" ></app-hero-section>
    <app-testimonials [testimonials_1]="fsds.full_stack_developer_content.testimonials_1"></app-testimonials>
    <!-- <app-companies [color]="'indigo'" [companies]="fsds.full_stack_developer_content.companies"></app-companies> -->
    <app-technical-benefits [color]="'indigo'" [technical_benefits]="fsds.full_stack_developer_content.technical_benefit"></app-technical-benefits>
    <app-benefits-beyond-learning [color]="'indigo'" [benefits_beyond_learning]="fsds.full_stack_developer_content.beyond_learning"></app-benefits-beyond-learning>
    <app-language-cta [color]="'indigo'" [language_cta]="fsds.full_stack_developer_content.language_cta"></app-language-cta>
    <app-frequently-asked-questions [faqs]="fsds.full_stack_developer_content.faqs"></app-frequently-asked-questions>
    <app-footer [color]="'indigo'"></app-footer>
</div>