<div class="bg-white">
    <app-header [color]="'orange'"></app-header>
    <app-hero-section [color]="'orange'" [hero_section]="pms.product_management_content.hero_section"></app-hero-section>
    <app-testimonials [testimonials_1]="pms.product_management_content.testimonials_1"></app-testimonials>
    <app-companies [color]="'orange'" [companies]="pms.product_management_content.companies"></app-companies>
    <app-language-cta [color]="'orange'" [language_cta]="pms.product_management_content.language_cta"></app-language-cta>
    <app-advanced-curriculum [color]="'orange'"[advanced_curriculum]="pms.product_management_content.advanced_curriculum"></app-advanced-curriculum>
    <app-video-testimonials [testimonials_2]="pms.product_management_content.testimonials_2"></app-video-testimonials>
    <app-download-brouchre-cta [color]="'orange'" [download_brouchre]="pms.product_management_content.download_brouchre"></app-download-brouchre-cta>
    <app-technical-benefits [color]="'orange'" [technical_benefits]="pms.product_management_content.technical_benefit"></app-technical-benefits>
    <app-have-more-questions [color]="'orange'" [have_more_questions]="pms.product_management_content.have_more_questions"></app-have-more-questions>
    <app-meet-your-mentors-section [mentors_section]="pms.product_management_content.mentors_section"></app-meet-your-mentors-section>
    <app-what-you-think-you-need-vs-what-you-actually-need [color]="'orange'" [what_you_think]="pms.product_management_content.what_you_think"></app-what-you-think-you-need-vs-what-you-actually-need>
    <app-frequently-asked-questions [faqs]="pms.product_management_content.faqs"></app-frequently-asked-questions>
    <app-footer [color]="'orange'"></app-footer>
</div> 