<div class="overflow-hidden bg-neutral-700 py-24 sm:py-32" *ngIf="what_we_give_data">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="lg:pt-4 lg:pr-8">
                <div class="lg:max-w-lg">
                    <h2 class="text-base/7 font-semibold text-orange-400">{{ what_we_give_data.tagline }}</h2>
                    <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl">
                        {{ what_we_give_data.title }}
                    </p>
                    <p class="mt-6 text-lg/8 text-gray-300">
                        {{ what_we_give_data.description }}
                    </p>
                    <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-300 lg:max-w-none">
                        <div *ngFor="let feature of what_we_give_data.features" class="relative pl-9">
                            <dt class="inline font-semibold text-white">
                                <div class="absolute top-1 left-1" [innerHTML]="getSafeIcon(feature.icon)"></div>
                                {{ feature.title }}
                            </dt>
                            <dd class="inline">{{ feature.description }}</dd>
                        </div>
                    </dl>
                </div>
            </div>
            <img [src]="what_we_give_data.image" alt="Product screenshot"
                class="w-full max-w-lg rounded-xl shadow-xl ring-1 ring-white/10 lg:max-w-md mx-auto" />
        </div>
    </div>
</div>