/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@layer utilities {
  .list-disclosure-closed {
    list-style-type: disclosure-closed;
  }
}