<div class="bg-white">
    <app-header [color]="'orange'"></app-header>
    <app-hero-section [color]="'orange'"[hero_section]="us.ui_ux_planning_content.hero_section"></app-hero-section>
    <app-testimonials [testimonials_1]="us.ui_ux_planning_content.testimonials_1"></app-testimonials>
    <app-companies [color]="'orange'"[companies]="us.ui_ux_planning_content.companies"></app-companies>
    <app-language-cta [color]="'orange'"[language_cta]="us.ui_ux_planning_content.language_cta"></app-language-cta>
    <app-advanced-curriculum [color]="'orange'"[advanced_curriculum]="us.ui_ux_planning_content.advanced_curriculum"></app-advanced-curriculum>
    <app-download-brouchre-cta [color]="'orange'"[download_brouchre]="us.ui_ux_planning_content.download_brouchre"></app-download-brouchre-cta>
    <app-video-testimonials [testimonials_2]="us.ui_ux_planning_content.testimonials_2"></app-video-testimonials>
    <app-benefits-beyond-learning [color]="'orange'"[benefits_beyond_learning]="us.ui_ux_planning_content.beyond_learning"></app-benefits-beyond-learning>
    <app-technical-benefits [color]="'orange'"[technical_benefits]="us.ui_ux_planning_content.technical_benefit"></app-technical-benefits>
    <app-have-more-questions [color]="'orange'"[have_more_questions]="us.ui_ux_planning_content.have_more_questions"></app-have-more-questions>
    <app-meet-your-mentors-section [mentors_section]="us.ui_ux_planning_content.mentors_section"></app-meet-your-mentors-section>
    <app-what-you-think-you-need-vs-what-you-actually-need [color]="'orange'"[what_you_think]="us.ui_ux_planning_content.what_you_think"></app-what-you-think-you-need-vs-what-you-actually-need>
    <!-- <app-about-us [color]="'orange'"></app-about-us> -->
    <app-frequently-asked-questions [faqs]="us.ui_ux_planning_content.faqs"></app-frequently-asked-questions>
    <app-footer [color]="'orange'"></app-footer>
</div>